<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.blog.mapper.CommonMapper">
    <select id="findList" parameterType="String" resultType="java.util.LinkedHashMap">
        ${sqlStr}
    </select>

    <select id="executeSql" parameterType="String" >
        ${sqlStr}
    </select>

    <update id="executeTransition_update" parameterType="String" statementType="STATEMENT" >
        ${sqlStr}
    </update>

    <insert id="executeTransition_insert" parameterType="String" statementType="STATEMENT" >
        ${sqlStr}
    </insert>

    <select id="queryInt" parameterType="String" resultType="int">
        ${sqlStr}
    </select>

    <select id="queryString" parameterType="String" resultType="String">
        ${sqlStr}
    </select>

    <update id="test">
          UPDATE frame_user set password=#{password} WHERE loginid=#{loginid}
    </update>
</mapper>