<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>musci_search</title>
    <script src="../../../common/base_stylesheet.js"></script>
    <script src="../../../common/base_javascript.js"></script>
</head>
<body>
<div id="app">
    <el-input v-model="musciname" placeholder="请输歌曲名称" style="width:240px"></el-input>
    <el-button type="primary" @click="search" v-loading.fullscreen.lock="fullscreenLoading">搜索</el-button>
    <template>
        <el-tabs v-model="activeName" @tab-click="handleClick">
            <el-tab-pane label="单曲" name="first">
                <el-table
                        :data="datalist"
                        style="width: 100%">
                    <el-table-column
                            type="index"
                            label="序号"
                            :index="indexMethod">
                    </el-table-column>
                    <el-table-column
                            prop="musicname"
                            label="歌曲名"
                            width="280">
                    </el-table-column>
                    <el-table-column
                            prop="author"
                            label="歌手"
                            width="280">
                    </el-table-column>
                    <el-table-column
                            prop="album"
                            label="收录专辑">
                    </el-table-column>
                    <el-table-column
                            prop="time"
                            label="歌曲时常">
                    </el-table-column>
                    <el-table-column label="操作"  width="100">
                        <template slot-scope="scope">
                            <el-button
                                    size="mini"
                                    @click="handleEdit(scope.$index, scope.row)">查看详情</el-button>
                        </template>
                    </el-table-column>
                    <el-table-column label="下载"  width="100">
                        <template slot-scope="scope">
                            <el-button
                                    size="mini"
                                    @click="downloadSong(scope.$index, scope.row)">下载</el-button>
                        </template>
                    </el-table-column>
                </el-table>
            </el-tab-pane>
            <el-tab-pane label="歌手" name="second">
                <el-row>
                    <el-col :span="2" v-for="author in authorlist" :key="author.imageurl" :offset="1">
                        <el-card :body-style="{ padding: '0px', height:'170'}" shadow="hover" style="width: 130px;height: 170px;">
                            <img v-bind:src="author.imageurl" class="image">
                            <div style="padding: 14px;">
                                <span>{{ author.autorname }}</span>
                            </div>
                        </el-card>
                    </el-col>
                </el-row>
            </el-tab-pane>
            <el-tab-pane label="专辑" name="third">
                <el-row>
                    <el-col :span="2" v-for="album in albumlist" :key="album.imageurl" :offset="1">
                        <el-card :body-style="{ padding: '0px', height:'170'}" shadow="hover" style="width: 130px;height: 170px;">
                            <img v-bind:src="album.imageurl" class="image" style="width: 130px;height: 130px">
                            <div style="padding: 14px;">
                                <span>{{ album.albumname }}</span>
                            </div>
                        </el-card>
                    </el-col>
                </el-row>
            </el-tab-pane>
            <el-tab-pane label="歌单" name="fourth">
                <el-row>
                    <el-col :span="24" v-for="songlist in songmenulist" :key="songlist.imageurl" :offset="1">
                        <el-card :body-style="{ padding: '14px', height:'170'}" shadow="hover">
                            <img v-bind:src="songlist.imageurl" class="image" style="width: 50px;height: 50px;float: left" >
                            <div style="padding: 14px;width: 400px;float: left">
                                <span>{{ songlist.songlistname }}</span>
                            </div>
                            <div style="padding: 14px;width: 100px;float: left">
                                <span>{{ songlist.songlistcount }}</span>
                            </div>
                            <div style="padding: 14px;width: 150px;float: left">
                                <span>by {{ songlist.createauthorname }}</span>
                            </div>
                            <div style="padding: 14px;width: 150px;float: left">
                                <span>收藏：{{ songlist.collectcount }}</span>
                            </div>
                            <div style="padding: 14px;width: 150px;float: left">
                                <span>收听：{{ songlist.listencount }}</span>
                            </div>
                        </el-card>
                    </el-col>
                </el-row>
            </el-tab-pane>
        </el-tabs>

    </template>
</div>
<script>
    var tableData = {datalist: [],authorlist:[],albumlist:[],songmenulist:[],musciname:"",fullscreenLoading: false, activeName: 'first'};
    var dataurl = GetRootPath()+"spider/music/searchwithname";
    var downloadurl = GetRootPath()+"spider/music/download";
    new Vue({
        el: '#app',
        data:tableData,
        methods: {
            handleClick(tab, event) {
                console.log(tab, event);
            },
            handleEdit(index, row) {
                OpenDialog("editdialog","查看评论","pages/spider/music/music_detail.html?url="+row.url,600,1200,afterClose);
            },
            downloadSong(index, row) {
                $.ajax({
                    type: "POST",
                    url: downloadurl,
                    contentType: "application/json;charset=uft-8",
                    data: JSON.stringify({"songid":row.songid}),
                    dataType : "json",
                    complete: function (data, status) {
                        //ajax回调函数中执行window.open或者模拟click事件，由于跳转操作不是用户主动触发，会被认为不安全，浏览器会进行拦截。
                        //window.open(JSON.parse(data.responseText).downloadurl);
                        var elemIF = document.createElement("iframe");
                        elemIF.src = JSON.parse(data.responseText).downloadurl;
                        elemIF.style.display = "none";
                        document.body.appendChild(elemIF);
                    }
                })
            },
            search:function () {
                loadata(tableData.musciname);
            },
            indexMethod(index) {
                return index + 1;
            }
        }
    })

    function afterClose() {

    }

    //post提交，data要使用JSON.stringify进行转换，否则会作为get方法的数据跟在url后传递过去
    function loadata(musciname) {
        //Vue.set(tableData,"fullscreenLoading",true);
        startloading();
        $.ajax({
            type: "POST",
            url: dataurl,
            contentType: "application/json;charset=uft-8",
            data: JSON.stringify({"musciname":musciname}),
            dataType : "json",
            complete: function (data, status) {
                Vue.set(tableData,"datalist",JSON.parse(data.responseText).datalist);
                Vue.set(tableData,"authorlist",JSON.parse(data.responseText).authorlist);
                Vue.set(tableData,"albumlist",JSON.parse(data.responseText).albumlist);
                Vue.set(tableData,"songmenulist",JSON.parse(data.responseText).songmenulist);
                //Vue.set(tableData,"fullscreenLoading",false);
                endloading();
            }
        })
    }
</script>
</body>
</html>