<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <script src="../../common/base_stylesheet.js"></script>
    <script src="../../common/base_javascript.js"></script>
    <style>

        #login-content{
            margin-right: 200px;
            margin-top: 15%;
            float: right;
            width: 400px;
            border:solid 1px black;
        }
        .el-input-group__prepend{
            width: 70px;

        }

    </style>
    <script src="../../common/datautil.js"></script>
</head>
<body>
<div>
    <div id="pagetitle">

    </div>
    <div id="login-content">
        <el-form ref="form" :model="form" label-width="80px" style="margin:20px">
            <el-form-item label="用户名">
                <el-input id="loginid"  v-model="form.loginid" placeholder="请输入用户名">
                </el-input>
            </el-form-item>
            <el-form-item label="密码">
                <el-input id="password" v-model="form.password" type="password" placeholder="请输入密码">
                </el-input>
            </el-form-item>
            <el-form-item label="验证码">
                <el-input id="imagecode"  v-model="form.imagecode" placeholder="请输入验证码" style="width:60%">
                </el-input>
                <img alt="验证码" onclick = "this.src='/blog/login/getidentificodeing?d='+new Date()*1" src="/blog/login/getidentificodeing" />

            </el-form-item>
            <el-form-item>
                <el-button id="login" v-on:click="check" style="width:100%" type="primary">登陆</el-button>
            </el-form-item>
        </el-form>


    </div>
</div>
</body>
<script>
    new Vue({
        el : '#login-content',
        data : {
            form: {
                loginid : '',
                password : '',
                imagecode:''
            }

        },
        methods : {
            check : function(event){
                //获取值
                var loginid = this.form.loginid;
                var password = this.form.password;
                var imagecode = this.form.imagecode;
                if(loginid == '' || password == ''){
                    this.$message({
                        message : '账号或密码为空！',
                        type : 'error'
                    })
                    return;
                }
                var url = GetRootPath()+"login/loginin";
                var auth = $.md5(loginid+password);
                $.ajax({
                    url : url,
                    type : 'post',
                    data : {
                        loginid : loginid,
                        auth : auth,
                        imagecode:imagecode
                    },
                    success : function(data) {
                        var status = data.status;
                        if(status == '1'){
                           // $(window).attr('location', GetRootPath()+"/home/index.html");
                        }else {
                            alert(data.message);
                        }
                    },
                    error : function(data) {
                        alert(data);
                    },
                    dataType : 'json',
                })
            }
        }
    })
</script>
</html>