<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>config_edit</title>
    <script src="../../common/base_stylesheet.js"></script>
    <script src="../../common/base_javascript.js"></script>
</head>
<body>
<div id="app" style="margin: 20px">
    <el-form ref="form" :model="data" label-width="80px" >
        <el-form-item label="参数名">
            <el-input v-model="data.configtext"></el-input>
        </el-form-item>
        <el-form-item label="参数值">
            <el-input v-model="data.configvalue"></el-input>
        </el-form-item>
        <el-form-item label="参数说明">
            <el-input type="textarea" v-model="data.conifgintroduction"></el-input>
        </el-form-item>
        <el-form-item label="排序">
            <el-input v-model="data.ordernum"></el-input>
        </el-form-item>
    </el-form>
    <div style="text-align: center">
        <el-button type="primary" @click="save">保存</el-button>
        <el-button type="primary" @click="close">关闭</el-button>
    </div>
</div>
</body>
<script>
    var datainiturl = GetRootPath()+"config/findone";
    var datasaveurl = GetRootPath()+"config/configsave";
    var tableData = {data:{configtext:"",configvalue:"",conifgintroduction:"",ordernum:""}};
    new Vue({
        el: '#app',
        data:tableData,
        created: loadata(),
        methods:{
            save:function () {
                savedata(
                    OpenSuccessDialog("保存成功！",function () {
                        CloseDialog();
                    })
                )
            },
            close:function () {
                CloseDialog();
            }
        }
    })
    function loadata() {
        $.ajax({
            type: "POST",
            url: datainiturl,
            contentType: "application/json;charset=uft-8",
            data: JSON.stringify({"rowguid":getUrlParams("rowguid")}),
            dataType : "json",
            complete: function (data, status) {
                Vue.set(tableData,"data",JSON.parse(data.responseText).data);
            }
        })
    }
    function savedata(callback) {
        $.ajax({
            type: "POST",
            url: datasaveurl,
            contentType: "application/json;charset=uft-8",
            data: JSON.stringify(tableData.data),
            dataType : "json",
            complete: function (data, status) {
                if(JSON.parse(data.responseText).executestatus=="1"){
                    callback;
                }else{
                    OpenErrorDialog("保存数据失败！");
                }
            }
        })
    }
</script>
</html>